*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
    
}
.s-fixed{
    z-index:100;
    position:fixed;
    width:100%;
}
section{
    margin-bottom: 3rem;
}
h1{
    color: #C668FF
}
section{
    margin-bottom: 4rem;
}
/*  ---Navbar section---    */
.navbar-section{
    background-color: rgba(255,255,255,0.7);
    height: 95px;
    width: 100%;
    margin: 0;
    padding: 1rem;
    /* display: none; */
}
.navbar{
    height: 60px;
    width: 100%;
}
.logo-nav{
    color: rgb(56,88,214);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 6rem;
    margin-right: 9rem;
}
.s-cross-center {
    -moz-box-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.nav-btn{
    color: rgb(7, 7, 7);
}
.n-left{
    margin-left:2.5rem;
    color: rgb(39, 39, 39);
}
.niv{
    margin-right: 1.5rem;
    color: rgb(39, 39, 39);
}
#regulation-btn,#database-btn,#education-btn,#news-btn{
    color: rgb(109,123,147);
    font-weight: 600;
}

#hoax-btn{
    color: white;
    background-color: rgb(55, 87, 213);
    border-radius: 2%;
    width: 130px;
    height: 40px;
    text-align: center;
    box-shadow: 0px 6px 6px 0px rgba(53, 85, 211, 0.4);
}

/*  ---Info1 section---    */
#info1-section{
    height: 1100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
}
.info1-div{
    height: 1000px;
    width: 100%;
}
.info1-items{
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    height: 400px;
    width: 450px;
    float: left;
}
.info1-text{
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 6rem;
    height: 400px;
    width: 450px;
    float: left;
}
.info1-h1{
    color: rgb(31,62,114);
    font-size: 60px;
    font-weight: 800;
    height: 150px;
    width: 450px;
}
.info1-img{
    float: right;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}
.info1-p{
    color: rgb(164,173,188);
    margin-top: 2rem;
    font-weight: 500;
    font-size: 20px;
    width: 420px;
    height: 100;
}

.cuadrado{
    width: 130px; 
    height: 130px; 
    background: rgb(244,246,251);
    margin-left: 4.3rem;
    margin-top: 2rem;
    transform: rotate(45deg);
}
.icons-div{
    margin-top: 4rem;
}
.icons{
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}
.schedule-vaccine{
    margin-top: 40rem;
}
.icon-img{
    height: 40px;
    width: 35px;
    padding: 6px;
    border-radius:10%;
    /* border: 1px solid black; */
    background-color: rgb(234, 242, 254) ;
    
}
.icons1{
    height: 25px;
    width: 20px;
    /* border: 1px solid black; */
    margin-right: 1rem;
}
.info-icon{
    float: left;
    margin-right: 1.5rem;
    color: rgb(31,64,114);
    font-weight: 600;
    font-size: 20px;
}
.icon-text{
    color: rgb(31,62,114);
    margin-left: 3.5rem;
}
.icons11{
    margin-left: 3.5rem;
    margin-top: -2.4rem;
}
.schedule-vaccine{
    margin-left: 8.5rem;
    width: 1200px;
    height: 20px;
    
}
.schedule-data{
    margin-top: 3rem;
    margin-left: 0rem;
    height: 150px;
    width: 1156px;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0px 25px 20px 0px rgba(53, 85, 211, 0.1);
}
.data{
    color: rgb(109,123,147);
    font-size: 25px;
    font-weight: 500;
}
.data-div{
    float: left;
    margin-right: 3rem;
    margin-left: 2rem;
}
#submit-btn{
    color: white;
    background-color: rgb(55, 87, 213);
    border-radius: 5%;
    width: 140px;
    height: 50px;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 6px 6px 0px rgba(53, 85, 211, 0.4);
}

/*  ---Companies section---    */

.companies-logo-container{
    width: 100%;
    height: 170px;
    /* border: red 1px solid; */
    padding: 1rem 2rem;
}
.companies-logo{
    width: 300px;
    height: 150px;
    margin-right: 1rem;
    opacity: 0.5;
}
#sinovac{
    height: 50px;
    width: 300px;
}

/*  ---Info2 section---    */

#info2-section{
    height: 800px;
    width: 100%;
}
.info2-text{

    margin-left: 7rem;
}
.info2-h2{
    color: rgb(31,62,114);
    font-size: 40px;
    font-weight: 700;
    height: 60px;
    width: 450px;
}
.info2-p{
    margin-top:2rem;
    color: rgb(164,173,188);
    font-weight: 500;
    font-size: 18px;
    width: 470px;
    height: 100;
}
.why-vaccine{
    width: 97%;
    height: 600px;
    padding: 5rem;
    margin-left: 2rem;
}

.card-template {
    /* border: 1px solid red; */
    border: 3px solid rgb(250, 250, 255);
    border-radius: 4%;
    width: 270px;
    height: 400px;
    margin-right: 1rem;
    padding: 2rem;
    box-shadow: 0px 6px 6px 0px rgba(231, 238, 250, 0.4);
    float: left;
}

.why-img-div{
    height: 60px;
    width: 60px;
    background-color: rgb(241,245,255);
    border-radius: 20%;
    padding: 10px;
    margin-bottom: 2rem;
}
.why-img{
    height: 40px;
    width: 40px;
}
.info2-h4{
    color: rgb(31,62,114);
    margin-bottom: 1.5rem;
}
.info2-p2{
    color: rgb(164,173,188);
    font-weight: 500;
    font-size: 15px;
}

/*  ---Info3 section---    */

#info3-section{
    height: 1200px;
    width: 100%;
    
}
.info3-img{
    float: left;
    width: 45%;
    height: 100%;
    margin-top: 11rem;
}
.cuadrado3{
    width: 130px; 
    height: 130px; 
    background: rgb(244,246,251);
    margin-left: -4rem;
    margin-top: 2rem;
    transform: rotate(45deg);
}

.info3-items{
    float: right;
    width: 50%;
    margin-right: 2rem;
    height: 920px;
}
.info3-h1{
    color: rgb(31,62,114);
    font-size: 40px;
    font-weight: 800;
    height: 80px;
    width: 100%;
}
.info3-p{
    color: rgb(164,173,188);
    margin-top: 2rem;
    font-weight: 500;
    font-size: 20px;
    width: 78%;
    height: 100;
}
/* .recomendation-cards{
    width: 90%;
    height: 600px;
    padding: 5rem;
    margin-left: 2rem;
} */

.card-template-h {
    /* border: 1px solid red; */
    border: 2px solid rgb(250, 250, 255);
    border-radius: 4%;
    width: 100%;
    height: 80px;
    margin-right: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0px 6px 6px 0px rgba(231, 238, 250, 0.4);
    float: left;
    margin-bottom: 2rem;
}

.info3-img-div{
    height: 40px;
    width: 40px;
    background-color: rgb(241,245,255);
    border-radius: 20%;
    padding: 7px;
    float: left;
    margin-right: 2rem;
}
.info3-img2{
    height: 25px;
    width: 25px;
}

.info3-h4{
    color: rgb(31,62,114);
    width: 60%;
    margin-top: 0.2rem;
    margin-left: 4rem;
    float: center;
}

.info3-arrow-div{
    margin-top: -2.3rem;
    height: 30px;
    width: 30px;
    background-color: rgb(241,245,255);
    border-radius: 20%;
            /*  arriba | derecha | abajo | izquierda */ 
    float: right;
}
.info3-arrow{
    height: 15px;
    width: 15px;
    margin: 6px 9.5px 4px 7.5px;
    /* down*/
    transform: rotate(90deg); 
    /*up*/
    /*transform: rotate(-90deg);*/ 
}
.card-template-h2 {
    /* border: 1px solid red; */
    border: 2px solid rgb(250, 250, 255);
    border-radius: 4%;
    width: 100%;
    height: 210px;
    margin-right: 1rem;
    padding: 2rem;
    box-shadow: 0px 6px 6px 0px rgba(231, 238, 250, 0.4);
    float: left;
    margin-bottom: 2rem;
}
.info3-p2{
    color: rgb(164,173,188);
    font-weight: 500;
    font-size: 15px;
    width: 62%;
    margin-top: 2.5rem;
    margin-left: 4.5rem;
}
.info3-arrow-up{
    height: 15px;
    width: 15px;
    margin: 6px 9.5px 4px 7.5px;
    /*up*/
    transform: rotate(-90deg); 
}

/*  ---Info3 section---    */

#info4-section{
    height: 1200px;
    width: 100%;
    /* border: 5px red solid; */
}
.cuadrado4{
    width: 130px; 
    height: 130px; 
    background: rgb(244,246,251);
    margin-left: 80rem;
    margin-top: 2rem;
    transform: rotate(45deg);
}
.info4-img{
    float: right;
    width: 45%;
    height: 100%;
    margin-top: 9rem;
    /* border: 2px solid black; */
}
.info4-items{
    float: left;
    width: 50%;
    margin-right: 2rem;
    height: 920px;
    padding: 3rem;
}
.info4-h1{
    color: rgb(31,62,114);
    font-size: 40px;
    font-weight: 800;
    height: 80px;
    width: 100%;
}
.info4-p{
    color: rgb(164,173,188);
    margin-top: 2rem;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    height: 100;
}
.info4-cards{
    height: 600px;
}
.info4-text{
    margin-bottom: 10rem;
}
.contact-card-template{
    border: 2px solid rgb(250, 250, 255);
    border-radius: 4%;
    width: 50%;
    height: 200px;
    /* margin-right: 1rem; */
    padding: 2rem 2rem;
    box-shadow: 0px 6px 6px 0px rgba(231, 238, 250, 0.4);
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.info4-icon-div{
    height: 55px;
    width: 55px;
    background-color: rgb(241,245,255);
    border-radius: 20%;
    padding: 7px;
    float: left;
    margin-right: 0rem;

}
.info4-icon{
    height: 40px;
    width: 40px;
}
.contact-text{
    float: right;
}
.info4-h4{
    color: rgb(31,62,114);
}
.info4-p2{
    color: rgb(164,173,188);
}
.up{
    /* border: 5px solid blue; */
    height: 80px;
    width: 220px;
    margin-bottom: 1rem;
}
.call-a{
    text-decoration: none;
    color: rgb(55, 87, 213);
    font-size: 20px;
    font-weight: 900px;
}
#call-btn{
    background-color: rgb(241, 245, 255);
    border-color: rgb(241, 245, 255);
    border-radius: 5%;
    width: 215px;
    height: 50px;
    text-align: center;
}
#chat-btn{
    background-color: rgb(55, 87, 213);
    box-shadow: 0px 6px 6px 0px rgba(53, 85, 211, 0.4);
    border-color: rgb(55, 87, 213);
    border-radius: 5%;
    width: 215px;
    height: 50px;
    text-align: center;
}
.chat-a{
    color: rgb(241, 245, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 900px;
}